<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <!-- <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li> -->
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-company' ? 'active' : '' %>" href="/admin/add-company">Add Company
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/companies' ? 'active' : '' %>" href="/admin/companies">Show Companies
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/about-us' ? 'active' : '' %>" href="/admin/about-us">About us
                </a>
            </li>
            <!-- <li class="main-header__item">
                <a class="<%= path === '/company' ? 'active' : '' %>" href="/company">Show companies
                </a>
            </li> -->
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <!-- <li class="mobile-nav__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li> -->
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-company">Add Product
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/companies">Show Companies
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/about-us' ? 'active' : '' %>" href="/admin/about-us">About us
                    </a>
                </li>
                <!-- <li class="mobile-nav__item">
                    <a class="<%= path === '/company' ? 'active' : '' %>" href="/company">Show companies
                    </a>
                </li> -->
            </ul>
</nav>