<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
   <%- include('./includes/navigation.ejs') %>
    
    <main>
     <h1>Companies</h1>
    </main>
<%- include('./includes/end.ejs') %>